@use '../abstracts' as *;

  .regular-footer{
    display: flex;
    flex-direction: column;
    padding: 10vh 0vw;
    
    .footer-quote{
      grid-row: 1;
      display:grid;
      grid-template-rows: minmax(min-content, auto) minmax(min-content, auto);
      grid-template-columns: 30vw 40vw 30vw;

      .quote-text{
        grid-row: 1;
        @include quote;
      }
      .quote-author{
        grid-row: 2;
        @include quote;
        color: $hover-button-color
      }
    }

    .social-icons{
      display: grid;
      grid-template-columns: 40vw 4vw 4vw 4vw 40vw;
      column-gap: 2vw;
      
      .footer-social{
        @include socialMedia($text-color, $hover-button-color);
      }

      .github{
        grid-column: 2;
        @include socialMedia($text-color, $hover-button-color);

      }
      .linkedin{
        grid-column: 3;
        @include socialMedia($text-color, $hover-button-color);
      }
      .email{
        grid-column: 4;
        @include socialMedia($text-color, $hover-button-color);
      }
    }
    p{
      align-self: center;
    }
  }