@use '../abstracts' as *;

  .regular-footer{
    display: grid;
    gap: 5vh;
    flex-direction: column;
    padding: 10vh 0vw;
    
    .footer-quote{
      @include gridChild(1, 2, 1, 2);
      @include gridParent($gridColumns: 30vw 40vw 30vw);
      gap:20px;

      .quote-text{
        @include gridChild(1, 2, 2, 3);
        @include paragraph($margin:0);
        justify-self: center;

      }
      .quote-author{
        @include gridChild(2, 3, 2, 3);
        @include paragraph($margin:0);
        justify-self: center;
        color: $hover-button-color
      }
    }

    .social-icons{
      @include gridParent($gridColumns: 40vw 4vw 4vw 4vw 40vw);
      column-gap: clamp(1vw, 1.5vw, 2vw);
      justify-content: center;
      
      .footer-social{
        @include socialMedia($text-color, $hover-button-color);
      }

      .github{
        grid-column: 2;
        @include socialMedia($text-color, $hover-button-color);

      }
      .linkedin{
        grid-column: 3;
        @include socialMedia($text-color, $hover-button-color);
      }
      .email{
        grid-column: 4;
        @include socialMedia($text-color, $hover-button-color);
      }
    }
    p{
      @include paragraph($margin:0);
      grid-row:3;
      justify-self: center;
    }
  }