@use '../abstracts' as *;

  .regular-footer{
    display: grid;
    gap: 5vh;
    flex-direction: column;
    padding: 10vh 0vw;
    width: 100%;
    
    
    .footer-quote{
      @include gridChild(1, 2, 1, 2);
      display: grid;
      justify-content: center;
      gap:20px;
      width: 100%;

      .quote-text{
        @include gridChild(1, 2, 1, 2);
        @include paragraph($margin:0);
        max-width: clamp(200px, 90vw, 600px);

      }
      .quote-author{
        @include gridChild(2, 3, 1, 2);
        @include paragraph($margin:0);
        max-width: clamp(200px, 90vw, 600px);
        color: $hover-button-color
      }
    }

    .social-icons{
      @include gridParent();
      justify-content: center;
      
      .footer-social{
        @include socialMedia($text-color, $hover-button-color);
      }

      .github{
        grid-column: 2;
        @include socialMedia($text-color, $hover-button-color);

      }
      .linkedin{
        grid-column: 3;
        @include socialMedia($text-color, $hover-button-color);
      }
      .email{
        grid-column: 4;
        @include socialMedia($text-color, $hover-button-color);
      }
    }
    p{
      @include paragraph($margin:0);
      grid-row:3;
      justify-self: center;
    }
  }