@use '../abstracts' as *;

.home-header{
    @include gridChild(1, 2, 2, 3);
    @include flexDisplay($justify-content: flex-start, $align-items: flex-start);
    margin-top: 25vh;
    min-height: 65vh;
  
    .hero-h1{
      @include paragraph;
    }
  
    .hero-h2{
      @include largestFontSize;
      margin-bottom: 5px;
      margin-top: 0;
    }
    .hero-h3{
      @include mediumFontSize;
      color: $hover-button-color;
      margin-bottom: 25px;
      margin-top: 0;
    }
    .hero-p{
      @include paragraph;
      max-width: 600px;
    }
  
    .top-skills{
      color: $hover-button-color;
    }
  }
  