//This is where I'll keep all of the scss for my navbar
@use '../abstracts' as a;

.navbar{
    @include a.navbar();
    width: 100%;
    height: 5%;
    align-items: center;
    padding: 0 1.5em;
    background-color: colors.$background-color-nav;

    .left-section{
        @include a.navbar();
        align-items: center;
        width: 100%;
        height:100%;
    }
    .middle-section{
        @include a.navbar();
        flex: 2;
    }
    .right-section{
        @include a.navbar();

    }
}