@use '../abstracts' as *;

.project-section{
  @include gridChild(2, 3, 2, 3);
    margin-bottom: 10vh;
}

h2{
    margin-bottom: 5rem;
  }
  
  
.featured-projects{
display: grid;
max-width: 100%;
grid-template-rows: repeat(3, 1fr);
grid-gap:4rem;

    .project-description{
        @include projectBox();
    }

    .featured-projects{
        display: grid;
    }

    .project-1{
        @include projectSectionDesktop("../../images", "text_adventure_game", "png", rotateX);

    }

    .project-2{
        @include projectSectionDesktop("../../images", "recipes_r_us", "png", rotateY);

    }

    .project-3{
        @include projectSectionDesktop("../../images", "weather_api", "png", rotateY);

    }

    .project-4{
        @include projectSectionDesktop("../../images", "simon_game", "png", rotateX);

    }
}

@media screen and (min-width:630px) and (max-width: 1225px){
    .featured-projects{
        width: auto;


        .project-1{
            @include projectSectionMobile("../../images", "text_adventure_game", "png", rotateX);

        }

        .project-2{
            @include projectSectionMobile("../../images", "recipes_r_us", "png", rotateY);

        }

        .project-3{
            @include projectSectionMobile("../../images", "weather_api", "png", rotateY);

        }

        .project-4{
            @include projectSectionMobile("../../images", "simon_game", "png", rotateX);

        }
    }
}

@media screen and (max-width: 630px){
    .featured-projects{
        width: auto;
        

        .project-1{
            @include projectSectionMobile("../../images", "text_adventure_game", "png", rotateX);

        }

        .project-2{
            @include projectSectionMobile("../../images", "recipes_r_us", "png", rotateY);

        }

        .project-3{
            @include projectSectionMobile("../../images", "weather_api", "png", rotateY);

        }

        .project-4{
            @include projectSectionMobile("../../images", "simon_game", "png", rotateX);

        }
    }  
}