@use '../abstracts/' as *;

.tech{
    @include gridChild(3, 4, 2, 3);
    margin-bottom: 10vh
}

.technology-mapped-grid{
    @include gridParent($autoFlow: column, $gridColumns:100%);
    margin: 10vh 0;
    
    .technology{
        @include gridChild(1, 2, 1, 2);
        @include flexDisplay($justify-self:start, $align-self:center);
        width: 100%;
        height: 100%;
        animation: fadeInOut both infinite linear;
    
    }

    &:hover{
        .technology, .technology-image{
        animation-play-state: paused
        }
    }
    
    .technology-image{
        animation: scalingAnimation linear infinite both;
        text-align: center;
    }
    svg{
        stroke: $hover-button-color;
        fill: $hover-button-color;
        height: 5em;
        width: 5em;
    }
    .technology-p{
        text-align: center;
    }
}

@media screen and (min-width:630px) and (max-width: 1225px){
    .tech{
      @include gridChild(3,4,1,2);

    }
  }

  @media screen and (max-width:630px){
    .tech{
      @include gridChild(3,4,1,2);
      
    }

  }