$primary-button-color: #628c93;
$hover-button-color:#124559;
$background-color-nav: #AFBFC0;
$background-color-page: #000707;
$text-color: #ffffff;
$button-gradient-color: linear-gradient(to right, #29b3eb 0%, #21edba 100%);
$text-color-highlight: #21edba;

//Possible idea for background-color-page: #2E282A, #000707,  