$primary-button-color: #124559;
$hover-button-color:#04d9ff;
$background-color-nav: #AFBFC0;
$background-color-page: #071A22;
$background-project-box: #0A2733;
$text-color: #ffffff;
$button-gradient-color: linear-gradient(12deg, #29b3eb 0%, #21edba 100%);
$text-color-highlight: #04d9ff;

//Possible idea for background-color-page: #2E282A, #000707, 
//Possible ideas for highlight color: #21edba (greenish blue), #7DF9FF (electric blue), #04d9ff (neon blue) 