@use "./colors" as a;


@mixin navbarMixin {
    display: flex;
    transition: 0.3s;
    color: a.$primary-button-color;
    font-size: x-large;

    &:hover{
        color: a.$hover-button-color;
    }
}

@mixin socialMedia(){
    font-size: 1.5rem;
    grid-row: 1;
    justify-self: center;
    margin: 15px
  
}
  
@mixin quote(){
    grid-column: 2;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

@mixin paragraph {
    margin: 0 0 10px 5px;
    font-size: 20px;
    font-weight: 400;

}

@mixin coloredParagraph(){
    @include paragraph();
    color: a.$text-color-highlight;
}

@mixin largestFontSize(){
    font-weight: 600;
    font-size: clamp(50px, 8vw, 80px);
    line-height: 1.1;
}

@mixin mediumFontSize(){
    font-weight: 600;
    font-size: clamp(30px, 4vw, 40px);
    line-height: 1.1;

}
@mixin projectSectionRight(){
    display: grid;
    justify-self: center;
    justify-items: right ;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, auto);
    max-width:1200px;

    p{
        grid-column: 11/13;
        grid-row: 1;
        margin: 0;
        align-self: flex-end;
    }
    
    .project-image{
        grid-column: 1/8;
        grid-row: 1/6;
        justify-self: left;
    }
      
    .project-title{
        grid-column:10/13;
        grid-row: 2;
        margin: 0;
        align-self: center;
    }
      
    .project-description{
        grid-column: 6/13;
        grid-row: 3/4;
        position: relative;
        z-index: 2;
    }
      
    .project-tech-flex{
        @include flexDisplay(flex-end, end);
        grid-column: 8/13;
        grid-row: 4/5;
  
        .project-tech-used{
          @include listNoBullet;
        }
    }
  
    .project-links{
        @include flexDisplay(flex-end, end);
        grid-column: 12/13;
        grid-row:5/6;
        
        .fab, .fas{
            margin: 0 20px;
            font-size: x-large;
        }
    }

}

@mixin projectSectionLeft(){
    display: grid;
    justify-self: center;
    justify-items: left ;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, auto);
    max-width:1200px;

    p{
        grid-column: 1/2;
        grid-row: 1;
        margin: 0;
        align-self: flex-end;
    }
    
    .project-image{
        grid-column: 6/13;
        grid-row: 1/6;
        justify-self: right;
    }
      
    .project-title{
        grid-column:1/5;
        grid-row: 2;
        margin: 0;
        align-self: center;
    }
      
    .project-description{
        grid-column: 1/8;
        grid-row: 3/4;
        position: relative;
        z-index: 2;
    }
      
    .project-tech-flex{
        @include flexDisplay(flex-end, end);
        grid-column: 1/6;
        grid-row: 4/5;
  
        .project-tech-used{
          @include listNoBullet;
        }
    }
  
    .project-links{
        @include flexDisplay(flex-end, end);
        grid-column: 1/2;
        grid-row:5/6;
        
        .fab, .fas{
            margin: 0 20px;
            font-size: x-large;
        }
    }
}


@mixin projectBox(){
    align-self: center;
    background-color: #2E282A ;
    padding: 5% 2%;

}

@mixin listNoBullet(){
    display: inline-flex;
    align-content: center;
    column-gap: 20px;
    flex-wrap: wrap;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

@mixin flexDisplay($flex-justify, $webkit-justify) {
    display: flex;
    justify-content: $flex-justify;
    -webkit-box-pack: $webkit-justify;
}