@use "./colors" as a;
@use "./fonts" as f;

@keyframes regularImage {
    0%{background-blend-mode: overlay;}
    95%{background-blend-mode: overlay;}
    100%{background-blend-mode: unset;}
}

@mixin spinAnimation($transition, $transformType, $transform) {
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    -webkit-transform: #{$transformType}(#{$transform});
    -moz-transform: #{$transformType}(#{$transform});
    -o-transform: #{$transformType}(#{$transform});
    -ms-transform: #{$transformType}(#{$transform});
    transform: #{$transformType}(#{$transform});
}

@mixin navbarMixin {
    display: flex;
    transition: 0.3s;
    color: a.$primary-button-color;
    font-size: x-large;

    &:hover{
        color: a.$hover-button-color;
    }
}

@mixin socialMedia($regularColor, $hoverColor){
    font-size: 1.75rem;
    grid-row: 1;
    justify-self: center;
    margin: 5px 15px;
    cursor:pointer;
    color: $regularColor;
    &:hover {
      color: $hoverColor;
    }

  
}

@mixin gridParent($gridType: grid, $gridColumns: 1, $gridColumnSize: 1fr, $gridRows: 1, $gridRowSize: auto) {
    display: $gridType;
    grid-template-columns: repeat($gridColumns, $gridColumnSize);
    grid-template-rows: repeat($gridRows, $gridRowSize);
    @content;
}

@mixin gridChild($grid-row-start, $grid-row-end, $grid-column-start, $grid-column-end){
    grid-row-start: $grid-row-start;
    grid-row-end: $grid-row-end;
    grid-column-start: $grid-column-start;
    grid-column-end: $grid-column-end;
    @content;
}
  
@mixin quote(){
    grid-column: 2;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

@mixin paragraph {
    font-family: f.$secondary-font;
    font-size: clamp(16px, 5vw, 20px);
    font-weight: 300;
    line-height: 1.5;
    word-spacing: 2px;  
    margin: 0 0 10px 5px;

}

@mixin unordered-list() {
    display: grid;
    padding: 0;
    align-content: center;
    justify-self: center;
    text-align: center;
    text-decoration: none;
    list-style: none;
    white-space: nowrap;
    @content;
}

@mixin list($color){
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: f.$secondary-font;
    font-size: clamp(14px, 5vw, 18px);
    font-weight: 300;
    background-color: $color;
    padding: 10px 20px;
    border-radius: .5rem;
    @content;
}

@mixin coloredParagraph(){
    @include paragraph();
    color: a.$hover-button-color;
}

@mixin largestFontSize(){
    font-weight: 600;
    font-size: clamp(50px, 8vw, 80px);
    line-height: 1.1;
}

@mixin mediumFontSize(){
    font-weight: 600;
    font-size: clamp(30px, 4vw, 40px);
    line-height: 1.1;

}

@mixin headerTemplate($lineHeight: 1.1){
    font-family: f.$main-font;
    line-height: $lineHeight; 
}

@mixin header1($smallestSize: 50px, $preferredSize: 8vw, $largestSize: 80px, $fontWeight: 600){
    font-weight: $fontWeight;
    font-size: clamp($smallestSize, $preferredSize, $largestSize);
    @include headerTemplate()
}

@mixin header2($smallestSize: 30px, $preferredSize: 8vw, $largestSize: 50px, $fontWeight: 600){
    font-weight: $fontWeight;
    font-size: clamp($smallestSize, $preferredSize, $largestSize);
    @include headerTemplate()
}

@mixin header3($smallestSize: 20px, $preferredSize: 8vw, $largestSize: 35px, $fontWeight: 600){
    font-weight: $fontWeight;
    font-size: ($smallestSize, $preferredSize, $largestSize);
    @include headerTemplate()
}

@mixin listNoBullet(){
    display: inline-flex;
    align-content: center;
    column-gap: 20px;
    flex-wrap: wrap;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

@mixin flexDisplay($display: flex, $direction: column, $align-self: initial, $align-content: initial, $align-items:initial, $justify-self: initial, $justify-content: initial, $justify-items: initial) {
    display: $display;
    flex-direction: $direction;
    align-self: $align-self;
    align-content: $align-content;
    align-items: $align-items;
    justify-self: $justify-self;
    justify-content: $justify-content;
    justify-items: $justify-items;
}

@mixin projectBox(){
    align-self: center;
    background-color: a.$background-project-box ;
    padding: 5% 2%;

}

@mixin projectSection($directory,$image, $type, $position){
    @include gridParent($gridColumns:12, $gridRows: 6);
    justify-self: center;
    justify-items: right ;
    max-width:1200px;
    padding: 3rem;
    background-color: a.$background-project-box;
    border-radius: 1rem;

    //Image section of the project card
    .flip-box {
        @include gridChild(1, 6, 1, 7);
        background-color: transparent;
        align-self: center;
        width: max(600px);
        height: max(400px);
        perspective: 1000px;
      }
      
      .project-image-url {
        position: relative;
        display: block;
        text-align: center;
        width: 100%;
        height: 100%;
        transition: transform 0.8s;
        transform-style: preserve-3d;
      }
      
      .flip-box:hover .project-image-url {
        transform: #{$position}(180deg);
      }
      
      .project-image, .project-image-back {
        position: absolute;
        width: 100%;
        height: 100%;
        margin:0;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        background-image: url(#{$directory}/#{$image}.#{$type});
      }
      
      .project-image {
        background-color: a.$background-project-box;
        background-blend-mode: overlay;
    }
      
      .project-image-back {
        transform: #{$position}(180deg);
      }

    //Text Section of the project card
    .project-title{
        @include gridChild(1, 2, 8, 13);
        margin: 0;
        align-self: center;
        justify-self: center;
    }
      
    .project-description{
        @include gridChild(2, 3, 8, 13);
        position: relative;
    }
      

    .project-tech-used{
        @include unordered-list(){
            @include gridChild(3, 5,8, 13);
            @include gridParent($gridColumns:3, $gridRows:auto, $gridRowSize:1fr);
            gap:10px;
            li{
                @include list(a.$primary-button-color)
            }
        }
    }
  
    .project-links{
        @include flexDisplay($direction: row, $align-content:center);
        @include gridChild(5, 6, 12, 13);
        
        .fab, .fas{
            @include socialMedia(a.$text-color, a.$hover-button-color)
        }
    }
}

@mixin slider {
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    overflow: hidden;
}