$primary-button-color: #628c93;
$hover-button-color:#124559;

@mixin navbar(){
  justify-content: center;
  font-size: 2rem;
  margin-top: 1rem;
  text-decoration: none;
  color: #AFBFC0;
  transition: 0.3s;

  &:hover{
    color: $hover-button-color;
  }
}

@mixin socialMedia(){
  font-size: 1.5rem;
  grid-row: 1;
  justify-self: center;
  margin: 15px

}

@mixin quote(){
  grid-column: 2;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  #root {
    height: 100vh;
    width: 100vw;
  }

  //Navbar displayed on all pages
  .site-navbar{
    .navbar-parent {
      display: grid;
      grid-template-columns: 10vw 20vw 20vw 10vw 10vw 10vw 10vw 10vw;
      top: 25%;
      max-height: 10vh;
      text-align: center;
      margin-top: 30px;
      .logo-link{
        grid-column: 2;
        @include navbar()
      }

      .navbar-Home{
        grid-column: 4;
        @include navbar();
        margin-top: none;
      }

      .navbar-Projects{
        grid-column: 5;
        @include navbar()
      }

      .navbar-About{
        grid-column: 6;
        @include navbar()    
      }

      .navbar-Contact{
        grid-column: 7;
        @include navbar()
      }
    }
  }

  //Footer displayed on every page
  .regular-footer{
    display: flex;
    flex-direction: column;
    padding: 10vh 0vw;
    
    .footer-quote{
      grid-row: 1;
      display:grid;
      grid-template-rows: minmax(min-content, auto) minmax(min-content, auto);
      grid-template-columns: 30vw 40vw 30vw;

      .quote-text{
        grid-row: 1;
        @include quote();
      }
      .quote-author{
        grid-row: 2;
        @include quote();
      }
    }

    .social-icons{
      display: grid;
      grid-template-columns: 40vw 4vw 4vw 4vw 40vw;
      grid-column-gap: 2vw;
      
      .footer-social{
        color: $primary-button-color;
        &:hover {
          color: $hover-button-color
        }
      }
      .github{
        grid-column: 2;
        @include socialMedia()
      }
      .linkedin{
        grid-column: 3;
        @include socialMedia()
      }
      .email{
        grid-column: 4;
        @include socialMedia()
      }
    }
    p{
      align-self: center;
    }
  }
  