$primary-button-color: #628c93;
$hover-button-color:#124559;
$background-color-nav: #AFBFC0;
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);

//spacing
$spacing-md: 16px;
$spacing-lg: 32px;

$borerRadius: 12px;

$headerHeight: 100px;