@use './abstracts' as *;
@use './scssPartials/navbar' as n;
@use './scssPartials/footer' as f;
@use './scssPartials/project' as p;
@use './scssPartials/home' as h;

h1, h2, h3, h4, h5, h6 {
  font-family: $main-font;
}

p{
  @include paragraph();
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: #081d26;
    color: $text-color;
    
  }
#root{
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;

}
 
main{
  display: grid;
  grid-template-columns: minmax(3%, 200px) auto minmax(3%, 200px) ;
  width: 100%;
  justify-content: center;

}

//testimonials section
.testimonials{
  display: flex;
  flex-direction: column;
  position: relative;

  h2{
    
  }

  p{
    
  }
  

  .testimonial{
    list-style: none;
    opacity: 0;
    transition-duration: 1s ease;
    max-width: 1000px;

    p{
      margin: 0 0 0 30px;
    }

    .testimonial-text{
      grid-column: 2;
      grid-row: 1/2;

    }
    .testimonial-client{
      grid-column: 2;
      grid-row: 2/3;
    }
    .testimonial-company{
      grid-column: 2;
      grid-row: 3/4;
    }
    
    img{
      border-radius: 10%;
      max-width: 150px;
      grid-row: 1/4;
    }
    
  }
  .active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1);
    
    display: grid;
    justify-content: center;
    align-self: center;
  }
  
  .fa-chevron-left{
    position: absolute;
    top:50%;
    left:9%;
    font-size: 3rem;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  .fa-chevron-right{
    position: absolute;
    top:50%;
    right:9%;
    font-size: 3rem;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
}
