@use './abstracts' as *;
@use './scssPartials/navbar' as n;
@use './scssPartials/footer' as f;



body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    background-color: $background-color-page;
    color: $text-color;
    
  }
  
main{
  overflow-x: hidden;
  max-width: 1600px;
  width: 100vw;
  min-height: 100vh;
  margin-left: clamp(20px, 8vw, 200px);
  margin-right: clamp(20px, 8vw, 200px);

}
  //Home Page
.home-header{
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;

  .hero-h1{
    @include paragraph;
  }

  .hero-h2{
    @include largestFontSize;
    margin-bottom: 5px;
    margin-top: 0;
  }
  .hero-h3{
    @include mediumFontSize;
    color: $hover-button-color;
    margin-bottom: 25px;
    margin-top: 0;
  }
  .hero-p{
    @include paragraph;
    max-width: 540px;
  }

  .top-skills{
    color: $hover-button-color;
  }
}

.styled-hero{
  max-width: 1000px;
}

//Projects page
h2{
  margin-bottom: 5rem;
}

.project-section{
  max-width: 1600px;
  margin-bottom: 10vh;;
}

.featured-projects{
  display: grid;
  max-width: 100vw;
  grid-template-rows: repeat(3, 1fr);
  grid-gap:4rem;

  .project-description{
    @include projectBox();
  }

  .featured-projects{
    display: grid;
  }

  .project-1{
    @include projectSection("../../images", "text_adventure_game", "png", rotateX);

  }
  
  .project-2{
    @include projectSection("../../images", "recipes_r_us", "png", rotateY);

  }

  .project-3{
    @include projectSection("../../images", "weather_api", "png", rotateY);

  }

  .project-4{
    @include projectSection("../../images", "simon_game", "png", rotateX);

  }
}


//testimonials section
.testimonials{
  display: flex;
  flex-direction: column;
  position: relative;

  h2{
    
  }

  p{
    
  }
  

  .testimonial{
    list-style: none;
    opacity: 0;
    transition-duration: 1s ease;
    max-width: 1000px;

    p{
      margin: 0 0 0 30px;
    }

    .testimonial-text{
      grid-column: 2;
      grid-row: 1/2;

    }
    .testimonial-client{
      grid-column: 2;
      grid-row: 2/3;
    }
    .testimonial-company{
      grid-column: 2;
      grid-row: 3/4;
    }
    
    img{
      border-radius: 10%;
      max-width: 150px;
      grid-row: 1/4;
    }
    
  }
  .active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1);
    
    display: grid;
    justify-content: center;
    align-self: center;
  }
  
  .fa-chevron-left{
    position: absolute;
    top:50%;
    left:9%;
    font-size: 3rem;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  .fa-chevron-right{
    position: absolute;
    top:50%;
    right:9%;
    font-size: 3rem;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
}
