@use './abstracts' as *;
@use './scssPartials/navbar' as n;

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    background-color: $background-color-page;
    color: $text-color;
    
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
main{
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  padding-left: clamp(20px, 8vw, 200px);
  padding-right: clamp(20px, 8vw, 200px);

}
  //Home Page
.home-header{
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  // padding-left: clamp(20px, 8vw, 200px);
  // padding-right: clamp(20px, 8vw, 200px);
  .hero-h1{
    @include paragraph;
  }

  .hero-h2{
    @include largestFontSize;
    margin-bottom: 5px;
    margin-top: 0;
  }
  .hero-h3{
    @include mediumFontSize;
    color: $text-color-highlight;
    margin-bottom: 25px;
    margin-top: 0;
  }
  .hero-p{
    @include paragraph;
    max-width: 540px;
  }

  .top-skills{
    color: $text-color-highlight;
  }
}

.styled-hero{
  max-width: 1000px;
}

//Projects page
.project-section{
  display: grid;
  grid-template-columns: repeat(10, 10vw);
  grid-template-rows: repeat(21, auto);
  .featured-projects{
  }
}

  //Footer displayed on every page
  .regular-footer{
    display: flex;
    flex-direction: column;
    padding: 10vh 0vw;
    
    .footer-quote{
      grid-row: 1;
      display:grid;
      grid-template-rows: minmax(min-content, auto) minmax(min-content, auto);
      grid-template-columns: 30vw 40vw 30vw;

      .quote-text{
        grid-row: 1;
        @include quote;
      }
      .quote-author{
        grid-row: 2;
        @include quote;
        color: $text-color-highlight
      }
    }

    .social-icons{
      display: grid;
      grid-template-columns: 40vw 4vw 4vw 4vw 40vw;
      grid-column-gap: 2vw;
      
      .footer-social{
        color: $primary-button-color;
        &:hover {
          color: $hover-button-color;
        }
      }
      .github{
        grid-column: 2;
        @include socialMedia()
      }
      .linkedin{
        grid-column: 3;
        @include socialMedia()
      }
      .email{
        grid-column: 4;
        @include socialMedia()
      }
    }
    p{
      align-self: center;
    }
  }